<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,900');
  </style>
  <script src="https://use.fontawesome.com/186651c50a.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="container-fluid navbar sticky-top navbar-light bg-light">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus">dddd</span></a>
    {% endif %}
  </nav>
  <div class="container-fluid red hero">
    <div class="container">
      <div class="row">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-7">
        <div class="row">
          <h1 class="title">
            exchange gifts and ideas with friends of friends
          </h1>
        </div>
      </div>

    </div>
    </div>
    </div>
        <div class="container-fluid red">
          <div class="container">
            <div class="row">
            <div class="col-sm-5 red">
            </div>
            <div class="col-sm-7">
        <div class="row">
          <!-- <a class="button-prim" href="#">
            sign up for upcoming Giftig
          </a> -->
          <a class="button-sec" href="#">
            <i class="fa fa-angle-double-right fa-inverse pr-3"></i>
            read the story (it's long but worth it!)
          </a>
        </div>
      </div>

    </div>
    </div>
  </div>
  <div class="container-fluid bright">
    <div class="container">
      <div class="row top-buffer">
        <p class="col-sm-7">
          Personally, I love gifts. I love wrapping them, I love picking them out, I love handing them over, I love getting them. But there are two things I currently don’t love about them: The fact that there are certain times of the year where you are expected to gift - nothing is more detrimental to my motivation than entitlement -, and the fact that I’m running out of creative ideas for the people I know. So what’s a gift lover to do?
        </p>
        <p class="col-sm-7">
          Enter Giftig.
        </p>
      <p class="highlight offset-sm-1">
        Giftigs are little themed events throughout the year that will connect you to two people you (likely) don’t know: one to give a gift to, and one to receive a gift from.
      </p>
      <p class="col-sm-7">
        Have you heard about Reddit gift exchanges? It’s like that, but without weird people from the internet. Everyone who takes part in Giftigs must be a personal, vouched-for referral from someone who has already joined. This ensures we keep strangers out, and have the cool, lovely, interesting crowd in. Yeah, that’s right, you’re cool, lovely, and interesting. And the people you’re friends with are, too! They aren’t? Why are you friends with them then?
      </p>
    </div>
  </div>
</div>
<div class="container-fluid gray">
  <div class="container">
    <div class="row top-buffer">
      <p class="col-sm-7 offset-sm-5">
        What kind of gifts are we talking about? Well, they can be anything revolving around the central theme of whatever Giftig you joined.
      </p>
      <p class="highlight offset-sm-1">
        You can buy stuff, you can make stuff, you can write down stuff. The most important part: You have to put thought into it.
      </p>
      <p class="col-sm-7 offset-sm-5">
        Make it personal. You’re in the process of making a potential new friend here, or at least making someone really happy. Maybe you’re giving something you’ve personally enjoyed for years and have been wanting to share forever, maybe it’s something you just discovered and can’t shut up about, maybe you looked at your giftee’s notes and simply knew.
      </p>
      <p class="col-sm-7 offset-sm-5">
        Wait up, notes? That’s right. For every Giftig, you get to fill out a form with a couple of questions pertaining to this Giftig’s theme. They are there to help your gifter get to know you a little, to voice any current life situation of yours that you would like to draw attention to (e.g. “I’m totally into sewing my own clothes at the moment” or “please do not make any mention of romantic relations right now”), and to make sure that matching works well if the Giftigs are somehow connected to language skills, location or anything that might make sending a cool gift impossible.
      </p>
      <p class="highlight offset-sm-1">
        Sounds like a lot of work? It’s really not. You pick a Giftig, enter some info, wait until the drawing, get your giftee’s info, and gift away. Boom, bliss.
      </p>
      <p class="col-sm-7 offset-sm-5">
        Got a busy month ahead and don’t want to commit to anything right now? Fret not. You can opt-in to whichever Giftigs you like, and you’re not obliged to take part in any. No hard feelings. It’s the original friendship with benefits.
      </p>
      <p class="col-sm-7 offset-sm-5">
        No money? No problem. Lots of Giftigs are writing-only. In some of them, giftees may ask for your input on a certain topic they feel uninspired or stuck on, so you get to be the one to help them out with a fresh perspective.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bright">
  <div class="container">
    <div class="row top-buffer">
      <p class="col-sm-7">
        To make things more beautiful and inclusive and social, and to flaunt the fact that your phone camera is much better than mine or that you’re actually into real photography, we’ll collect visual evidence of the stuff that’s been sent.
      </p>
      <p class="highlight offset-sm-1">
        Then we’ll put it up in a gallery with a thank-you note for everyone to see. Instant fame for your awesome gift.
      </p>
      <p class="col-sm-7">
        If you deem the gift you gave too personal to publish - which may sometimes be the case, especially with written stuff -, simply add a disclaimer when you send it. Your giftee will honor this, because, remember, they’re your friends’ friend (= cool, lovely, interesting etc.)! They’ll get to take a picture of the wrapping instead.
      </p>
      <p class="col-sm-7">
        Is all of this anonymous? Well, I’m actually not sure it should or shouldn’t be. For now, it’s all up to you. Feel free to leave your name, your email, your full postal address, or only the letter X, whichever one you’re most comfortable with.
      </p>
      <p class="highlight offset-sm-1">
        A part of my personal motivation behind this whole thing is to connect with people, but how you choose to make that connection is a very personal decision.
      </p>
      <p class="col-sm-7">
        Do you want your giftee to be able to contact you? Invite them for a coffee if they are ever in the area. Just getting your fix of gifting, but not really looking for anything else? Then stay the mysterious donor who will secretly scroll through the gallery hoping to find their present appreciated.
      </p>
      <p class="col-sm-7">
        Will people know just how they are connected? They might know eventually, so part of the fun is to figure out the six degrees (or likely just two or three, as browsing on Linkedin has taught me).
      </p>
      <p class="col-sm-7">
        Are you ready? You know you are. Check out what’s waiting for you:
      </p>
    </div>
  </div>
</div>
<div class="container-fluid pink">
  <div class="container">
    <div class="row top-buffer">
      {% block content %}
      {% endblock %}

    </body>
</html>
